In [1]:
import pandas as pd
import numpy as np
from nltk import word_tokenize, corpus, stem
import string

In [2]:
df = pd.read_csv("spam_ham_dataset.csv")
df.columns

Index(['Unnamed: 0', 'label', 'text', 'label_num'], dtype='object')

In [3]:
df['label'].count()

5171

In [33]:
#Stemmers remove morphological affixes from words, leaving only the word stem.
ps = stem.PorterStemmer()

def textpreprocess(text):
    # Storing the sets of punctuation in text_p(ki tu dac biet)
    text_p = "".join([char for char in text if char not in string.punctuation])
    
    #Tokenizers divide strings into lists of substrings.
    words = word_tokenize(text_p)
    
    # stopword = [ 'stop', 'the', 'to', 'and', 'a', 'in', 'it', 'is', 'I', 'that', 'had', 'on', 'for', 'were', 'was']
    stop_words = corpus.stopwords.words('english')
    
    stem_filtered_words = [ps.stem(word) for word in words if word not in stop_words]
    temp = str()
    for i in stem_filtered_words:
        temp += i  + " "
    return temp

In [34]:
processedtext = []
for text in df['text']:
    processedtext.append(textpreprocess(text))

In [ ]:
df['Processed'] = processedtext

In [32]:
df

,Unnamed: 0,label,text,label_num,Processed
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0,subject enron methanol meter 988291 follow not...
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0,subject hpl nom januari 9 2001 see attach file...
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0,subject neon retreat ho ho ho around wonder ti...
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1,subject photoshop window offic cheap main tren...
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0,subject indian spring deal book teco pvr reven...
...,...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0,subject put 10 ft transport volum decreas 2500...
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0,subject 3 4 2000 follow nom hpl take extra 15 ...
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0,subject calpin daili ga nomin juli mention ear...
5169,1409,ham,Subject: industrial worksheets for august 2000...,0,subject industri worksheet august 2000 activ a...
5170,4807,spam,Subject: important online banking alert\r\ndea...,1,subject import onlin bank alert dear valu citi...